.container {

}

.form {
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-wrap: wrap;*/
    /*height: 60vh;*/
    width: 25rem;
    margin: 0 auto;
}

.inputs {
    margin: 10px 0;
}